body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8f8f8; 
}

#background-video {
  position: fixed; 
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; 
  transform: translateX(-50%) translateY(-50%);
}

header {
  color: white;
  padding: 5px;
  text-align: center;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
}

#section1 {
  background-color: rgba(53, 53, 53, 0.863); 
  padding: 35px; 
}

#section2 {
  background-color: rgba(53, 53, 53, 0.863);
  padding: 35px;
}

#section3 {
  background-color: rgba(0, 0, 0, 0.507); 
  padding: 100px; 
}

#section4 {
  background-color: rgba(189, 188, 188, 0.582);
  padding: 20px;
}

@font-face {
  font-family: 'Varino';
  src: url('/Varino - Normal.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Azonix';
  src: url('/Azonix.otf') format('truetype'); 
}

@font-face {
  font-family: 'astro';
  src: url('/astro.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Coves Bold';
  src: url('/Coves Bold.otf') format('truetype'); 
}

@font-face {
  font-family: 'Coves Light';
  src: url('/Coves Light.otf') format('truetype'); 
}

@font-face {
  font-family: 'mecaros';
  src: url('/mecaros.otf') format('truetype'); 
}

@font-face {
  font-family: 'Protos';
  src: url('/Protos-D1nx.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Leoscar';
  src: url('/Leoscar Serif.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Leoscar2';
  src: url('/Leoscar Sans Serif.ttf') format('truetype'); 
}

nav {
  font-family: Coves Light;
  background-color: rgba(238, 107, 0, 0.87);
  padding: 15px;
  text-align: left;
}

nav img {
  width: 40px;
}

nav a {
  text-align: right;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.671);
  margin-top: 50%;
}

footer {
  font-family: Coves Light;
  background-color: rgba(51, 51, 51, 0.801);
  color: #fff;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: Varino;
  color: rgb(255, 255, 255);
  font-size: 75px;
  text-shadow: 2px 2px 4px rgba(134, 242, 250, 0.842);
  text-align: center;
}

p {
  font-family: Coves Bold;
  color: #fff;
  font-size: 25px; 
  text-shadow: 2px 2px 4px rgba(255, 166, 0, 0.788);
  padding-left: 150px;
}

.p1 {
  font-family: Coves Bold;
  color: #fff;
  font-size: 30px; 
  text-shadow: 2px 2px 4px rgba(255, 166, 0, 0.788);
  padding-left: px;
}

h2 {
  font-family: Coves Light;
  color: rgb(255, 255, 255);
  font-size: 65px;
  text-shadow: 2px 2px 4px rgba(134, 242, 250, 0.842);
  padding-left: 55px;
}

h3 {
  font-family: Coves Bold;
  color: #fff;
  font-size: 35px; 
  text-shadow: 2px 2px 4px rgb(101, 167, 243);
  padding-left: 55px;
}

h4 {
  font-family: Coves Bold;
  color: #fff;
  font-size: 20px; 
  text-shadow: 2px 2px 4px rgba(0, 195, 255, 0.788);
}

.center-video {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: ;
}

.fixed-img {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: ;
}

.opacity-image {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.move-right {
  margin-left: 100px;
}

.move-more {
  margin-left: 300;
}
